# Node modules
node_modules/

# Log files
*.log
*.log.*

# Dependency directories
jspm_packages/

# Debug and build directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env

# Mac OS system files
.DS_Store

# Windows system files
Thumbs.db

# IDEs and text editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Tests
coverage/

# Build and distribution directories
dist/
build/

# Optional npm cache directory
.npm/

# package-lock.json and yarn.lock (if you want to ignore them, otherwise remove these lines)
package-lock.json
yarn.lock

# TypeScript files (if you're using TypeScript)
*.tsbuildinfo

# Next.js build files (if using Next.js)
.next/

# Expo files (if using Expo)
.expo/

# Other system or IDE files that should be ignored
*.swp
*.swo
